html {
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body,
main{
    @apply bg-dark;
}
body {
    @apply font-open_sans_regular;
}

div {
    p{
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.xdebug-var-dump {
    color: #fff;
}

.breadcrumb {
  opacity: 0;
  visibility: hidden;
}

.progress-bar {
  @apply shadow-xl;
}

.sticky-navi {
  .bar-title {
    visibility: hidden;
    opacity: 0;
  }
}

header {
    &.scrolled {
        .breadcrumb {
            visibility: visible;
            opacity: 1;
        }
    }
}

.container {
    max-width:1200px;
    padding: 0 2rem;
    @screen md {
        padding: 0 1rem;
    }
    @screen 2xl {
        max-width:1400px;
    }
    @screen 4xl {
        max-width:1600px;
    }
    @screen 5xl {
        max-width: 2300px;
    }
}

.container-med {
    max-width: 1200px;
    padding: 0 2rem;
    @screen md {
        padding: 0 1rem;
    }
    @screen 2xl {
        max-width:1500px;
    }
    @screen 4xl {
        max-width:1800px;
    }
    @screen 5xl {
        max-width: 2500px;
    }
}


.container-full {
    max-width:1400px;
    padding: 0 2rem;
    @screen md {
        padding: 0 1rem;
    }
    @screen 2xl {
        max-width: 1600px;
    }
    @screen 4xl {
        max-width:1800px;
    }
    @screen 5xl {
        max-width: 2700px;
    }
}

.wave-graphic svg{
    @apply h-auto;
    @apply w-full;
}
.logo {
    svg {
        max-width: 240px;
        max-height: 100px;
        transition: all .5s ease-in-out;
        width: 100%;
    }
}

.footer-legals-menu {
    li {
        a{
            @apply font-open_sans_regular tracking-normal ;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.scrolled {
    @apply bg-dark-blue;
    .header-content {
      @apply py-4;
      .logo {
        svg{
            @apply transition-all;
            max-height: 50px;
        }
      }
    }
    
}

.menu-item {
    @apply relative;
    a {
        @apply font-walkway_black block text-white tracking-wider transition-all text-lg mx-auto;
        &:hover {
            @apply text-purple;
        }
    }
    &.current-menu-parent,
    &.current_page_item{
        >a {
            @apply text-purple;
        }
    }
    &.menu-item-has-children {
        .dropdown-indicator {
            @apply absolute;
            @apply ml-[0.5rem];
            // margin-left: 0.5rem;
            @screen lg {
                @apply relative;
            }
            &:after {
                content: "";
                border: solid #fff;
                margin-bottom: 3px;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                z-index: 99;
            }
        } 

        &:hover{
            .sub-menu {
                visibility: visible;
                opacity: 1;
            }
        }

        .sub-menu {
            display: none;
            @apply w-max;
            padding: .5rem 1rem;
            z-index: 99;
            @apply gap-4;
            @screen lg {
                @apply block absolute invisible opacity-0 rounded-[5px] bg-dark/[0.7] top-[1.5rem] gap-0 -left-4;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }
            .blue {
                a {
                    @apply text-blue;
                }
            }
            .steel-pink {
                a {
                    @apply text-steel-pink;
                }
            }
            .red {
                a {
                    @apply text-red;
                }
            }
            .green {
                a {
                    @apply text-green;
                }
            }
            .orange {
                a {
                    @apply text-orange;
                }
            }
        }
    }  
}

.showMenu {
    transform: translateX(0)!important;
}

span[data-set] {
    position: relative;
    overflow: hidden;
    height: 58px;
    @screen xl {
        height: 140px;
    }
    display: block;
    line-height: normal;
}
span[data-set] > div {
    position: absolute;
    width: 100%;
}

.cta{
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @apply rounded-full;
        transition: opacity 0.5s ease-out;
        z-index: 2;
        opacity: 0;
    }
    &:hover:after{
        opacity: 1;
    }
}

.cta.gr-purple-btn{
    background-image: linear-gradient(90deg, rgba(219,224,255,1) 0%, rgba(149,164,255,1) 45%, rgba(96,118,255,1) 100%);
    &:after {
        background-image: linear-gradient(to right,rgba(96,118,255,1)10%, rgba(96,118,255,1)  100%);
    }
}

.cta.gr-purple-dark-btn{
    @apply text-white;
    background-image: linear-gradient(90deg, rgba(8, 10, 21, 1) 0%, rgba(96, 118, 255, 1) 100%);
    &:after {
        background-image: linear-gradient(to right,rgba(96,118,255,1)10%, rgba(96, 118, 255, 1)  100%);
    }
}

.cta.gr-orange-btn{
    @apply text-white;
    background: rgba(227,94,50,1);
    background-image: linear-gradient(to right, rgba(8,10,21,1) 10%, rgba(227,94,50,1) 100%);
    box-shadow: 8px 8px 20px #E35E3279;
    &:after {
        background-image: linear-gradient(to right,rgba(227,94,50,1)  10%, rgba(227,94,50,1)  100%);
    }
}
.cta.gr-blue-btn{
    @apply text-white;
    background: rgba(25, 148, 186, 1);
    background-image: linear-gradient(to right, rgba(8,10,21,1) 10%, rgba(25, 148, 186, 1) 100%);
    box-shadow: 8px 8px 20px #1994BA67;
    &:after {
        background-image: linear-gradient(to right,rgba(25, 148, 186, 1)  10%, rgba(25, 148, 186, 1)  100%);
    }
}

.cta.gr-steel-pink-btn{
    @apply text-white;
    background: rgba(211, 55, 244, 1);
    background-image: linear-gradient(to right, rgba(8,10,21,1) 10%, rgba(211, 55, 244, 1) 100%);
    box-shadow: 8px 8px 20px #D337F46C;
    &:after {
        background-image: linear-gradient(to right,rgba(211, 55, 244, 1)  10%, rgba(211, 55, 244, 1)  100%);
    }
}

.cta.gr-red-btn{
    @apply text-white;
    background: rgba(234, 42, 45, 1);
    background-image: linear-gradient(to right, rgba(8,10,21,1) 10%, rgba(234, 42, 45, 1) 100%);
    box-shadow: 8px 8px 20px rgba(234, 42, 45, 0.41);
    &:after {
        background-image: linear-gradient(to right,rgba(234, 42, 45, 1)  10%, rgba(234, 42, 45, 1)  100%);
    }
}

.cta.gr-green-btn{
    @apply text-white;
    background: rgba(46, 176, 75, 1);
    background-image: linear-gradient(to right, rgba(8,10,21,1) 10%, rgba(46, 176, 75, 1) 100%);
    box-shadow: 8px 8px 20px rgba(46, 176, 75, 0.44);
    &:after {
        background-image: linear-gradient(to right,rgba(46, 176, 75, 1) 10%, rgba(46, 176, 75, 1)  100%);
    }
}

.bg-container::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgb(4, 3, 26, 10%) 30%, rgb(4, 3, 26, 100%) 100%);
    z-index: 1;
}

// .banner-section {
//     &:before {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background: transparent linear-gradient(90deg, rgba(4, 3, 26, 1) 0%, rgba(4, 3, 26, 1) 23%, rgba(4, 3, 26, 0.75) 33%, rgba(4, 3, 26, 0) 100%) 0% 0% no-repeat padding-box;
//     }
// }
.category-group,
.group-member{
    svg {
        #linkedin-icon,
        #money,
        #Path_318,
        #arrow-right,
        #envelope-share,
        #envelope-share-bg,
        #linkedin-share,
        #twitter-share,
        #twitter-share-bg,
        #facebook-share,
        #facebook-share-bg{
            @apply fill-grey;
        }
    }
    .wave-graphic {
        g{
            path {
                @apply stroke-grey;
            }
        }
    }
}

.category-economics,
.economics-member{
    svg {
        #linkedin-icon,
        #money,
        #Path_318,
        #arrow-right,
        #envelope-share,
        #envelope-share-bg,
        #linkedin-share,
        #twitter-share,
        #twitter-share-bg,
        #facebook-share,
        #facebook-share-bg{
            @apply fill-blue;
        }
    }
    .wave-graphic {
        g{
            path {
                @apply stroke-blue;
            }
        }
    }
}
.category-gaming,
.gaming-member {
    svg {
        #linkedin-icon,
        #money,
        #Path_318,
        #arrow-right,
        #envelope-share,
        #envelope-share-bg,
        #linkedin-share,
        #twitter-share,
        #twitter-share-bg,
        #facebook-share,
        #facebook-share-bg{
            @apply fill-steel-pink;
        }
    }
    .wave-graphic {
        g{
            path {
                @apply stroke-steel-pink;
            }
        }
    }
}
.category-sustainability,
.sustainability-member {
    svg {
        #linkedin-icon,
        #money,
        #Path_318,
        #arrow-right,
        #envelope-share,
        #envelope-share-bg,
        #linkedin-share,
        #twitter-share,
        #twitter-share-bg,
        #facebook-share,
        #facebook-share-bg{
            @apply fill-green;
        }
    }
    .wave-graphic {
        g{
            path {
                @apply stroke-green;
            }
        }
    }
}
.category-analytics,
.analytics-member{
    svg {
        #linkedin-icon,
        #money,
        #Path_318,
        #arrow-right,
        #envelope-share,
        #envelope-share-bg,
        #linkedin-share,
        #twitter-share,
        #twitter-share-bg,
        #facebook-share,
        #facebook-share-bg{
            @apply fill-orange;
        }
    }
    .wave-graphic {
        g{
            path {
                @apply stroke-orange;
            }
        }
    }
}
.category-consulting,
.consulting-member{
    svg {
        #linkedin-icon,
        #money,
        #Path_318,
        #arrow-right,
        #envelope-share,
        #envelope-share-bg,
        #linkedin-share,
        #twitter-share,
        #twitter-share-bg,
        #facebook-share,
        #facebook-share-bg{
            @apply fill-red;
        }
    }
    .wave-graphic {
        g{
            path {
                @apply stroke-red;
            }
        }
    }
}

p > a {
    text-decoration: underline;
    @apply text-purple;
}


.contact-form {
    .half-row {
        @apply  flex justify-between flex-col;
        @screen lg{
            @apply mb-4 flex-row items-center;
        }
        span {
            @apply w-full;
            @screen lg {
                @apply w-[46%];
            }
        }
    }
    .full-row {
        textarea {
            width: 100%;
        }
    }
    .half-row,
    .full-row {
        input, textarea, select {
            @apply bg-transparent my-4 text-white rounded-none border-solid border-b border-white py-4 outline-0 w-full;
            @screen lg{
                @apply my-0;
            }
            &.wpcf7-not-valid{
                @apply border-red;
            }
        }
    }
    .attach-submit {
        @apply flex flex-col gap-8 items-start  mt-4;
        @screen lg {
            @apply items-center flex-row justify-between gap-0;
        }
        ::-webkit-file-upload-button {
            @apply font-open_sans_regular w-[120px] ml-2 bg-[#fff] rounded-[8px] text-[12px] border-0 py-1 transition-all max-md:mr-8 hover:opacity-70;
        }
        p {
            @apply mb-0;
        }
    }

    select.Economics{
        @apply text-blue;
    }

    select.Gaming{
        @apply text-steel-pink;
    }

    select.Analytics{
        @apply text-orange;
    }

    select.Sustainability{
        @apply text-green;
    }

    select.Consulting{
        @apply text-red;
    }

    .wpcf7-spinner {
        display: none;
    }
    
    .wpcf7-submit {
        @apply font-walkway_black bg-white text-black w-[160px] h-[50px] rounded-[40px] border-0 outline-0 tracking-wider transition-all hover:opacity-70;
    }
    &.clients-form {
        .attach-submit {
            @screen lg {
                @apply justify-end;
            }
        }
    }
}

.wpcf7-response-output {
    border-width:1px!important;
}


::-webkit-input-placeholder { /* Edge */
  color: #fff!important;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff!important;
}

::placeholder {
  color: #fff!important;
}


.filter-dd {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    outline: none;
    background-position: right 0 center; /* adjust position as necessary */
}

.icons-section {
    h4 {
        span {
            @apply font-walkway_bold;
        }
    }
}

.two-cols-without-icons{
    h2 {
        @apply t-64;
    }
}

div.text-white.mb-8:last-child {
    @screen lg {
        margin-bottom: 0
    }
}

.meetups-section {
    h2 {
        @apply font-walkway_ultra_bold;
    }
}

.page-template-template-markets-page {
    .two-cols-market  {
        h2 {
            @apply t-80;
        }
    }
}


.about-us {
    .centered-section-1 {
        .content-row {
            max-width: 610px;
        }
    }
}

.join-us {
    .centered-section-1 {
        .content-row {
            max-width: 590px;
        }
    }
}

.economics {
    .centered-section-1 {
        .content-row {
            max-width: 620px;
        }
    }
}

.analytics {
    .centered-section-1 {
        .content-row {
            max-width: 585px;
        }
    }
}

.gaming {
    .centered-section-1 {
        .content-row {
            max-width: 500px;
        }
    }
}

.contact {
    .centered-section-1 {
        .content-row {
            max-width: 800px;
        }
    }
    .centered-section-2 {
        .content-row {
            max-width: 765px;
        }
    }
}

.animation-class {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.news-section {
    .post-item {
        &:last-child {
            margin-bottom: 0!important;
        }
    }
}

.single {
    .post-image {
        img {
            @apply w-full max-h-[600px] object-cover;
        }
    }
}

.home,
.jobs {
    .banner-section {
        @apply pt-32;
        height:100%!important;
        @screen lg {
                @apply pt-0 h-screen;
        }
        .container-med{
            height:100%!important;
            @screen lg {
                    @apply pt-0;
                    height: 100vh!important;
            }
            .col {
                height:100%!important;
                @screen lg {
                        @apply pt-0 h-screen;
                }
            }
        }        
    }
}

.home {
    .banner-section {
    h1 {
            line-height: 40px;
            span{
                &:nth-child(1),
                &:nth-child(2) {
                    font-size: 35px;
                }
            }
        }
    }
}

.transition {
    transition: top 0.5s ease;
}
