@font-face {
  font-family: 'walkway_black';
  src: url("../fonts/Walkway_Black.ttf") format('truetype'),
       url("../fonts/Walkway_Black.otf") format('opentype'),
       url("../fonts/Walkway_Black.woff") format('woff'),
       url("../fonts/Walkway_Black.woff2") format('woff2');
}

@font-face {
  font-family: 'walkway_ultra_bold';
  src: url("../fonts/Walkway_UltraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'walkway_semi_bold';
  src: url("../fonts/Walkway_SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'walkway_bold';
  src: url("../fonts/Walkway_Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'open_sans_regular';
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'open_sans_extra_bold';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'open_sans_bold';
  src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'walkway_oblique_bold';
  src: url("../fonts/Walkway_Oblique_Bold.ttf") format('truetype');
}


