.single-external_jobs,
.single-internal_jobs {
    .job-content {
        h3 {
            @apply font-walkway_bold;
            @apply mb-8;
        }
        ul {
            list-style-type: disc;
            list-style-position: inside;
            @apply font-open_sans_regular;
            @apply mb-8;
            // @screen lg {
            //     @apply mb-16;
            // }
        }
    }

    .social-list-share {
        svg {
            max-width: 25px;
        }
    }
    
    .category-economics {
        h3 {
            @apply text-blue;
        }
        ul {
            li{
                &::marker{
                   @apply text-blue; 
                }
            }
        }
    }
    .category-gaming {
        h3 {
            @apply text-steel-pink;
        }
        ul {
            li{
                &::marker{
                   @apply text-steel-pink; 
                }
            }
        }
    }
    .category-consulting {
        h3 {
            @apply text-red;
        }
        ul {
            li{
                &::marker{
                   @apply text-red; 
                }
            }
        }
    }
    .category-analytics {
        h3 {
            @apply text-orange;
        }
        ul {
            li{
                &::marker{
                   @apply text-orange; 
                }
            }
        }
    }
    .category-sustainability {
        h3 {
            @apply text-green;
        }
        ul {
            li{
                &::marker{
                   @apply text-green; 
                }
            }
        }
    }

    .contact-form {
        @apply mb-16;
    }
    
}